body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #BC6C25;
}

.avatar {
    width: 150px;
    border: 1px dashed gray;
    border-radius: 10%;
}

.card {
    width: 500px;
    margin: 15% auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #606C38;
    color: #FEFAE0;
    border: 10px groove #DDA15E;
    border-bottom: 20px solid #283618;
        
}

.info {
    font-size: 25px;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:

- hover effects  🤯🤯
- animations     🤯🤯🤯
*/
